name: Build Kairos Custom Image

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Tag name to use for the release"
        required: true
        type: string
  release:
    types: [created]

jobs:
  build:
    permissions:
      id-token: write
      contents: write
      actions: read
      security-events: write
      packages: write
    uses: kairos-io/kairos-factory-action/.github/workflows/reusable-factory.yaml@main
    secrets:
      registry_username: ${{ github.repository_owner }}
      registry_password: ${{ secrets.GH_TOKEN }}
    with:
      dockerfile_path: Dockerfile
      base_image: debian:latest
      model: generic
      arch: amd64
      kubernetes_distro: k3s
      kubernetes_version: auto
      version: auto
      trusted_boot: false
      no_cache: false
      iso: true
      raw: false
      vhd: false
      gce: false
      tar: false
      compute_checksums: true
      output_format: auto
      security_checks: ""
      cosign: false
      grype: false
      trivy: false
      grype_sarif: false
      trivy_sarif: false
      registry_domain: ghcr.io
      registry_namespace: ${{ github.repository_owner }}
      registry_repository: ${{ github.event.repository.name }}/kairos-custom
      custom_tag_format: ${{ github.event.release.tag_name || github.event.inputs.tag_name }}
      summary_artifacts: false
      auroraboot_version: latest
      release: true
      list_release_artifacts: false
